.row{
    margin: 0%;
    background-color: #add8e6;
}

footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1{
    font-family: 'Alfa Slab One', cursive;
}

p{
    font-family: 'Open Sans', sans-serif;
}