.row {
    margin-top: 10px;
    background-color: #212529;
    border-radius: 40px;
}

h1{
    /*font-family: 'Alfa Slab One', cursive;*/
    font-family: 'Bebas Neue', cursive;
    color: #E0248A;
    font-size: xxx-large;
}

label{
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: #F8F9FA;
}