/*.gradient-custom {
    //fallback for old browsers
    background: #508bfc;
    
    //Chrome 10-25, Safari 5.1-6
    background: -webkit-linear-gradient(to right, #508bfc, #3325fc);
    
    //W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    background: linear-gradient(to right, #508bfc, #3325fc)
    }*/

    .gradient-custom {
        /* fallback for old browsers */
        background: #a611cb;
        
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), #f546c9e7);
        
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgba(106, 17, 203, 1), #f546c9e7)
        }
