.row{
    margin: 0%;
    padding: 20px;
    background-color: #212529;
}

div{
    text-align: center;
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}

.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    /*font-family: 'Alfa Slab One', cursive;*/
    font-family: 'Bebas Neue', cursive;
    color: #E0248A;
    font-size: xxx-large;
}

p{
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    color: #F8F9FA;
}

.btn-primary {
    --bs-btn-color: #FFF0F3;
    --bs-btn-bg: #870467;
    --bs-btn-border-color: #870467;
    --bs-btn-hover-color: #FFF0F3;
    --bs-btn-hover-bg: #7A045D;
    --bs-btn-hover-border-color: #7A045D;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #FFF0F3;
    --bs-btn-active-bg: #870467;
    --bs-btn-active-border-color: #870467;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    --bs-btn-disabled-color: #FFF0F3;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

/*estilo de la foto de perfil*/
/*@media (max-width: 2560px){*/
    #fotoDePerfil{
        border-radius: 25%;
        border: 1.5px solid #9229ac;
        background-color: #F92899;
        padding: 1.5px;
        /*box-shadow: 2px 2px 2px #F8F9FA;*/
    }
/*}*/
/*@media (max-width: 1440px){
    #fotoDePerfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
    }
}
@media (max-width: 1024px){
    #fotoDePerfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
    }
}
@media (max-width: 768px){
    #fotoDePerfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
    }
}
@media (max-width: 575px){
    #fotoDePerfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
    }
}
@media (max-width: 425px){
    #fotoDePerfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
    }
}
@media (max-width: 375px){
    #fotoDePerfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
    }
}
@media (max-width: 320px){
    #fotoDePerfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px gray;
    }
}*/