<div class="row">
    <div class="container">
        <div class="logo">
            <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank"><img src="../../../assets/APLogo.png" id="logoAP"></a>
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/fermin-alliot-350752251/" target="_blank"><img src="../../../assets/linkedin.png"></a>
                <!--<a href="https://twitter.com/ferminalliot" target="_blank"><img src="../../../assets/twitter.png"></a>-->
                <a href="https://www.instagram.com/ferminalliot/" target="_blank"><img src="../../../assets/instagram.png"></a>
                <a href="https://github.com/Falliot00" target="_blank"><img src="../../../assets/github.png"></a>
                <a href="https://www.facebook.com/ferrminn/" target="_blank"><img src="../../../assets/facebook.png"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESIÓN</button>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <nav class="navbar navbar-expand-lg navbar-dark mb-3 fixed-top">
        <div class="container-fluid">
            
            <a class="navbar-brand" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">
                <img src="../../../assets/APLogo.png" id="logoAP">
            </a>
            
    
            <button class="navbar-toggler me-3" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                &#9776;
            </button>

            <div class="redes">
                <div>
                    <a href="https://www.linkedin.com/in/fermin-alliot-350752251/" target="_blank"><img src="../../../assets/linkedin.png"></a>
                    <a href="https://twitter.com/ferminalliot" target="_blank"><img src="../../../assets/twitter.png"></a>
                    <a href="https://www.instagram.com/ferminalliot/" target="_blank"><img src="../../../assets/instagram.png"></a>
                    <a href="https://github.com/Falliot00" target="_blank"><img src="../../../assets/github.png"></a>
                    <a href="https://www.facebook.com/ferrminn/" target="_blank"><img src="../../../assets/facebook.png"></a>
                    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
                </div>
            </div>
        </div>
    </nav>
</div>-->